@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDF6E3;
  /** #ffffff; **/
  --foreground: #4A4A4A;
  /** #171717; **/
  --foregroundSecondary: #6B7280;
  --primary: #FF6F61;
  --secondaryDark: #FFD27F;
  --secondaryLight: #FFEBCC;
  --button: #FFC4B4;
  --highlight: #FF6F61;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 
h1 {
  color: var(--primary);
} */